@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  brand colours:
  Peach: oklch(0.8323 0.0903 49)
  Dark blue: oklch(0.4856 0.0711 241.81)
  Blue: oklch(0.5286 0.0843 198.11)

*/

@layer base {
  :root {
    color-scheme: light dark;

    /* Light theme colors */
    --primary: oklch(0.4856 0.0711 241.81);
    --primary-100: oklch(0.4856 0.0711 241.81);
    --primary-200: oklch(0.5456 0.0751 242.81);
    --primary-300: oklch(0.5941 0.0964 243.81);
    --primary-content: oklch(0.8323 0.0903 49);
    --primary-100-gradient-start: oklch(0.4856 0.0711 241.81);
    --primary-100-gradient-end: oklch(0.5256 0.0731 242.31);
    --primary-200-gradient-start: oklch(0.5456 0.0751 242.81);
    --primary-200-gradient-end: oklch(0.5756 0.0821 243.31);
    --primary-300-gradient-start: oklch(0.5941 0.0964 243.81);
    --primary-300-gradient-end: oklch(0.6341 0.1034 244.31);

    --secondary: oklch(0.8323 0.0903 49);
    --secondary-100: oklch(0.8323 0.0903 49);
    --secondary-200: oklch(0.7923 0.1013 47);
    --secondary-300: oklch(0.7423 0.1123 45);
    --secondary-content: oklch(0.4856 0.0711 241.81);
    --secondary-100-gradient-start: oklch(0.8323 0.0903 49);
    --secondary-100-gradient-end: oklch(0.8123 0.0963 48);
    --secondary-200-gradient-start: oklch(0.7923 0.1013 47);
    --secondary-200-gradient-end: oklch(0.7623 0.1083 46);
    --secondary-300-gradient-start: oklch(0.7423 0.1123 45);
    --secondary-300-gradient-end: oklch(0.7123 0.1193 44);

    --tertiary: oklch(0.4418 0.0792 293.05);
    --tertiary-100: oklch(0.4418 0.0792 293.05);
    --tertiary-200: oklch(0.4918 0.0842 294.05);
    --tertiary-300: oklch(0.5418 0.0892 295.05);
    --tertiary-content: oklch(0.878 0.117 99.28);
    --tertiary-100-gradient-start: oklch(0.4418 0.0792 293.05);
    --tertiary-100-gradient-end: oklch(0.4718 0.0817 293.55);
    --tertiary-200-gradient-start: oklch(0.4918 0.0842 294.05);
    --tertiary-200-gradient-end: oklch(0.5218 0.0867 294.55);
    --tertiary-300-gradient-start: oklch(0.5418 0.0892 295.05);
    --tertiary-300-gradient-end: oklch(0.5718 0.0917 295.55);

    --accent: oklch(0.878 0.117 99.28);
    --accent-100: oklch(0.878 0.117 99.28);
    --accent-200: oklch(0.828 0.122 100.28);
    --accent-300: oklch(0.778 0.127 101.28);
    --accent-content: oklch(0.4418 0.0792 293.05);
    --accent-100-gradient-start: oklch(0.878 0.117 99.28);
    --accent-100-gradient-end: oklch(0.858 0.1195 99.78);
    --accent-200-gradient-start: oklch(0.828 0.122 100.28);
    --accent-200-gradient-end: oklch(0.808 0.1245 100.78);
    --accent-300-gradient-start: oklch(0.778 0.127 101.28);
    --accent-300-gradient-end: oklch(0.758 0.1295 101.78);

    --neutral-100: oklch(0.38 0.02 237);
    --neutral-200: oklch(0.42 0.03 237);
    --neutral-300: oklch(0.46 0.04 237);
    --neutral-content: oklch(0.95 0.015 237);
    --neutral-100-gradient-start: oklch(0.38 0.02 237);
    --neutral-100-gradient-end: oklch(0.40 0.025 237);
    --neutral-200-gradient-start: oklch(0.42 0.03 237);
    --neutral-200-gradient-end: oklch(0.44 0.035 237);
    --neutral-300-gradient-start: oklch(0.46 0.04 237);
    --neutral-300-gradient-end: oklch(0.48 0.045 237);

    --base-100: oklch(1 0 0);
    --base-200: oklch(0.96 0.01 237);
    --base-300: oklch(0.86 0.02 237);
    --base-content: oklch(0.2 0.02 237);
    --base-100-gradient-start: oklch(1 0 0);
    --base-100-gradient-end: oklch(0.98 0.005 237);
    --base-200-gradient-start: oklch(0.96 0.01 237);
    --base-200-gradient-end: oklch(0.94 0.015 237);
    --base-300-gradient-start: oklch(0.86 0.02 237);
    --base-300-gradient-end: oklch(0.84 0.025 237);

    --bg-top: oklch(0.93 0.005 237);
    --bg-bottom: oklch(0.91 0.015 237);
  }

  [data-theme="treelink-light"] {
    color-scheme: light;
  }

  [data-theme="treelink-dark"] {
    color-scheme: dark;

    /* Dark theme colors */
    --primary: oklch(0.4856 0.0711 241.81);
    --primary-100: oklch(0.4856 0.0711 241.81);
    --primary-200: oklch(0.5456 0.0751 242.81);
    --primary-300: oklch(0.5941 0.0964 243.81);
    --primary-content: oklch(0.8323 0.0903 49);
    --primary-100-gradient-start: oklch(0.4856 0.0711 241.81);
    --primary-100-gradient-end: oklch(0.5256 0.0731 242.31);
    --primary-200-gradient-start: oklch(0.5456 0.0751 242.81);
    --primary-200-gradient-end: oklch(0.5756 0.0821 243.31);
    --primary-300-gradient-start: oklch(0.5941 0.0964 243.81);
    --primary-300-gradient-end: oklch(0.6341 0.1034 244.31);

    --secondary: oklch(0.8323 0.0903 49);
    --secondary-100: oklch(0.8323 0.0903 49);
    --secondary-200: oklch(0.7923 0.1013 47);
    --secondary-300: oklch(0.7423 0.1123 45);
    --secondary-content: oklch(0.4856 0.0711 241.81);
    --secondary-100-gradient-start: oklch(0.8323 0.0903 49);
    --secondary-100-gradient-end: oklch(0.8123 0.0963 48);
    --secondary-200-gradient-start: oklch(0.7923 0.1013 47);
    --secondary-200-gradient-end: oklch(0.7623 0.1083 46);
    --secondary-300-gradient-start: oklch(0.7423 0.1123 45);
    --secondary-300-gradient-end: oklch(0.7123 0.1193 44);

    --tertiary: oklch(0.4418 0.0792 293.05);
    --tertiary-100: oklch(0.4418 0.0792 293.05);
    --tertiary-200: oklch(0.4918 0.0842 294.05);
    --tertiary-300: oklch(0.5418 0.0892 295.05);
    --tertiary-content: oklch(0.878 0.117 99.28);
    --tertiary-100-gradient-start: oklch(0.4418 0.0792 293.05);
    --tertiary-100-gradient-end: oklch(0.4718 0.0817 293.55);
    --tertiary-200-gradient-start: oklch(0.4918 0.0842 294.05);
    --tertiary-200-gradient-end: oklch(0.5218 0.0867 294.55);
    --tertiary-300-gradient-start: oklch(0.5418 0.0892 295.05);
    --tertiary-300-gradient-end: oklch(0.5718 0.0917 295.55);

    --accent: oklch(0.878 0.117 99.28);
    --accent-100: oklch(0.878 0.117 99.28);
    --accent-200: oklch(0.828 0.122 100.28);
    --accent-300: oklch(0.778 0.127 101.28);
    --accent-content: oklch(0.4418 0.0792 293.05);
    --accent-100-gradient-start: oklch(0.878 0.117 99.28);
    --accent-100-gradient-end: oklch(0.858 0.1195 99.78);
    --accent-200-gradient-start: oklch(0.828 0.122 100.28);
    --accent-200-gradient-end: oklch(0.808 0.1245 100.78);
    --accent-300-gradient-start: oklch(0.778 0.127 101.28);
    --accent-300-gradient-end: oklch(0.758 0.1295 101.78);

    --neutral-100: oklch(0.91 0.01 237);
    --neutral-200: oklch(0.84 0.015 237);
    --neutral-300: oklch(0.79 0.018 237);
    --neutral-content: oklch(0.33 0.03 237);
    --neutral-100-gradient-start: oklch(0.91 0.01 237);
    --neutral-100-gradient-end: oklch(0.88 0.013 237);
    --neutral-200-gradient-start: oklch(0.84 0.015 237);
    --neutral-200-gradient-end: oklch(0.82 0.017 237);
    --neutral-300-gradient-start: oklch(0.79 0.018 237);
    --neutral-300-gradient-end: oklch(0.77 0.020 237);

    --base-100: oklch(0.3 0.02 237);
    --base-200: oklch(0.36 0.02 237);
    --base-300: oklch(0.41 0.03 237);
    --base-content: oklch(0.93 0 237);
    --base-100-gradient-start: oklch(0.3 0.02 237);
    --base-100-gradient-end: oklch(0.33 0.022 237);
    --base-200-gradient-start: oklch(0.36 0.02 237);
    --base-200-gradient-end: oklch(0.38 0.023 237);
    --base-300-gradient-start: oklch(0.41 0.03 237);
    --base-300-gradient-end: oklch(0.43 0.033 237);

    --bg-top: oklch(0.17 0.02 237);
    --bg-bottom: oklch(0.22 0.03 237);
  }
}
@layer components {
  .prose hr {
    @apply my-14 border-t-2 border-base-content/15 pb-6;
  }
}
