---
const { text, icon, url } = Astro.props;

const linkClasses = [
  // Base
  "flex items-center justify-center gap-2 rounded-full px-6 py-3 text-lg transition-colors",

  // Light mode
  "bg-lightModeCustomLinkBackground",
  "text-lightModeCustomLinkText",
  "ring-2 ring-lightModeCustomLinkOutline",

  // Hover
  "hover:bg-lightModeCustomLinkBackgroundHover",
  "hover:text-lightModeCustomLinkTextHover",
  "hover:ring-lightModeCustomLinkOutlineHover",

  // Dark mode
  "dark:bg-darkModeCustomLinkBackground",
  "dark:text-darkModeCustomLinkText",
  "dark:ring-darkModeCustomLinkOutline",

  // Dark Hover
  "dark:hover:bg-darkModeCustomLinkBackgroundHover",
  "dark:hover:text-darkModeCustomLinkTextHover",
  "dark:hover:ring-darkModeCustomLinkOutlineHover"
].join(" ");
---

<li>
  <a
    href={url}
    class={linkClasses}
  >
    <slot />
  </a>
</li>
